aiogram==3.4.1
aiohttp==3.9.3
alembic==1.13.1
asyncpg==0.29.0
deep-translator==1.11.4
emoji==2.10.0
matplotlib==3.8.2
numpy==1.26.3
pandas==2.1.4
python-dotenv==1.0.1
seaborn==0.13.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9